<div class="canvas-container">
  <div class="canvas-child">
    <h1>Draw a Box</h1>

    <div
      *ngFor="let label of this.tempLabels"
      class="class-label"
      [ngStyle]="{
        'margin-top': label.bbox.y1 + 'px',
        'margin-left': label.bbox.x1 + 'px'
      }"
    >
      <h2>
        {{ currentClasses[label.category_id].name }}
      </h2>
    </div>
    <canvas #layer id="layer"> </canvas>
    <canvas #board id="board"></canvas>
  </div>

  <div class="control-group">
    <!-- <button mat-raised-button color="warn" class="left">Reset</button> -->
    <button mat-stroked-button (click)="handlePrevImage()">Back</button>
    <button mat-raised-button color="primary" (click)="handleNextImage()">
      Next
    </button>
  </div>
</div>
