<h1 class="mat-h1">Labels</h1>

<div class="labels-container">
  <div class="label-list">
    <mat-nav-list>
      <mat-list-item *ngFor="let label of drawnLabels">
        <h3 matLine>{{ classes[label.category_id].name }}</h3>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteLabel(label); $event.stopImmediatePropagation()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="downloadCoco()">
      Get COCO
    </button>
  </div>
</div>
