<div fxLayout="row nowrap">
  <mat-card class="details-cards" fxFlexAlign="stretch">
    <mat-card-header>
      <mat-card-title *ngIf="currentLabel.class">{{
        currentLabel.class | titlecase
      }}</mat-card-title>
    </mat-card-header>
    <form #form="ngForm" (ngSubmit)="changeDetails()">
      <mat-card-content>
        <mat-form-field>
          <mat-label>X1 Coordinate</mat-label>
          <input
            matInput
            placeholder="{{ currentLabel.bbox.x1 }}"
            type="text"
            name="x1"
            required
            [(ngModel)]="currentLabel.bbox.x1"
            [disabled]="!isEditEnable"
          />
        </mat-form-field>
        <!-- <span *ngIf="!isEditEnable">X0: {{ label.x0 }}</span> -->

        <mat-form-field>
          <mat-label>Y1 Coordinate</mat-label>
          <input
            matInput
            placeholder="{{ currentLabel.bbox.y1 }}"
            type="text"
            name="y1"
            required
            [(ngModel)]="currentLabel.bbox.y1"
            [disabled]="!isEditEnable"
          />
        </mat-form-field>
        <!-- <span *ngIf="!isEditEnable">Y0: {{ label.y0 }}</span> -->

        <mat-form-field>
          <mat-label>X2 Coordinate</mat-label>
          <input
            matInput
            placeholder="{{ currentLabel.bbox.x2 }}"
            type="text"
            name="x2"
            required
            [(ngModel)]="currentLabel.bbox.x2"
            [disabled]="!isEditEnable"
          />
        </mat-form-field>
        <!-- <span *ngIf="!isEditEnable">X1: {{ label.x1 }}</span> -->

        <mat-form-field>
          <mat-label>Y2 Coordinate</mat-label>
          <input
            matInput
            placeholder="{{ currentLabel.bbox.y2 }}"
            type="text"
            name="y2"
            required
            [(ngModel)]="currentLabel.bbox.y2"
            [disabled]="!isEditEnable"
          />
        </mat-form-field>
        <!-- <span *ngIf="!isEditEnable">Y1: {{ label.y1 }}</span> -->
      </mat-card-content>

      <mat-card-actions fxFlexAlign="end">
        <button
          mat-raised-button
          color="primary"
          *ngIf="isEditEnable"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <div class="button-row">
          <button
            mat-icon-button
            color="primary"
            *ngIf="!isEditEnable"
            (click)="onEdit()"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            *ngIf="!isEditEnable"
            (click)="onDelete()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
  <!-- 
  <button (click)="invokeCoco()">Click this shit</button>
  <pre>{{ result | json }}</pre> -->
</div>
